<table class="table">
  <tbody>
    <tr>
      <td class="col-lg-8">
        <h5>Należność dotyczy</h5>
          <p class="cell-content">STOLIK 16</p>
      </td>
      <td>
        <h5>Potwierdzenie</h5>
        <div class="alert alert-custom x-fetching" role="alert">Potwierdzam warunek transakcji...</div>
        <div class="alert alert-success x-confirmed hide" role="alert">
          <strong>BEACON UUID:</strong>
          <p>f7826da6-4fa2-4e98-8024-bc5b71e0893e</p>
          <span class="label label-success">Jesteś w pobliżu</span>
        </div>

      </td>
    </tr>
  </tbody>
</table>
