<%= link_to 'Alexa dzielę rachunek! (utwórz liste transakcji / przyjaciol)',
    transactions_path, method: :post, remote: true, class: 'x-call-transactions' if @contract.transactions.empty? %>
<table class="table table-striped table-bordred x-transaction-table <%= 'hide' if @contract.transactions.empty? %> ">
  <thead>
    <tr>
      <th>Uczestnicy</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="x-transaction-containers">
  <%= render partial: "transactions/transaction",
collection: @contract.transactions %>
  </tbody>
</table>
