<table class="table table-striped table-bordred">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="x-transaction-containers">
  <%= render partial: "transactions/transaction", collection: contract.transactions %>
  </tbody>
</table>

<div class="pull-right">
  <%= link_to 'Anuluj', contracts_path, class: 'btn btn-default btn-lg' %>

  <%= link_to 'Zatwierdź', '#', class: 'x-transaction-toggle-all  btn btn-success btn-lg' %>
</div>
