 <table class="table table-striped">
  <tbody>
    <tr>
      <th class="col-lg-8">Szczegóły</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <strong>
          <ul class="list-group">
            <% @contract.order.order_items.each do |order_item| %>
              <li>
                <span class="pull-right"><%= order_item.amount %> PLN</span>
                <p><%= order_item.name %>

                   <%# link_to 'Alexa przypisz produkt!', assing_order_item_path(client_name: 'x', order_item_name: 'x'), method: :post %>
                </p>
              </li>
            <% end -%>
          </ul>
        </strong>
      </td>
      <td>
        <strong>Menu:</strong>
        <p>Pozycje zgodne</p>
      </td>
    </tr>
  </tbody>
</table>
