 <table class="table">
  <tbody>
    <tr>
      <td class="col-md-8">
        <h5>Właściciel</h5>
        <p class="cell-content">BROWAR STU MOSTÓW<br/>ul. Jana Długosza 2</br>51-162 Wrocław</p>
      </td>
      <td class="confirmation-cell">
        <h5>Potwierdzenie</h5>

        <div class="alert alert-custom" role="alert">Potwierdzam warunek transakcji...</div>

        <div class="alert alert-success" role="alert">
          <strong>GPS: 51.1318158,17.05932</strong></br>
          <strong>MAC: 00:0A:E6:3E:FD:E1</strong></br>
          <span class="label label-success">Jesteś na miejscu</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
