 <table class="table table-striped">
  <tbody>
    <tr>
      <th class="col-lg-8">Właściciel</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <strong>
          <p>BROWAR STU MOSTÓW</p>
          <p>ul. Jana Długosza 2</p>
          <p>51-162 Wrocław</p>
        </strong>
      </td>
      <td>
        <h5>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          51.1318158,17.05932
        </h5>
        <strong>
          <p>BROWAR STU MOSTÓW</p>
          <p>ul. Jana Długosza 2</p>
          <p>51-162 Wrocław</p>
        </strong>
        <small>Jesteś na miejscu</small>
      </td>
    </tr>
  </tbody>
</table>
