<table class="table table-confirmed">
  <tbody>
    <tr>
      <td class="col-lg-8">
        <h5>Konto do płatności</h5>
          <p class="cell-content">PL951090980568751929917064286869</p>
      </td>
      <td>
        <h5>Potwierdzenie</h5>
        <div class="alert alert-custom" role="alert">Potwierdzam warunek transakcji...</div>
        <div class="alert alert-success" role="alert">
          <strong>KONTO BZWBK:</strong>
          <p>Browar Stu Mostów Sp. z o.o.</p>
          <span class="label label-success">Konto zaufane</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>
