 <table class="table table-striped">
  <tbody>
    <tr>
      <th class="col-lg-8">Konto do płatności</th>
      <th></th>
    </tr>
    <tr>
      <td>
        <strong>
          <p>PL951090980568751929917064286869</p>
        </strong>
      </td>
      <td>
        <strong>BZWBK:</strong>
        <p>Browar Stu Mostów Sp. z o.o.</p>
        <p>Konto zaufane</p>
      </td>
    </tr>
  </tbody>
</table>
