<div class="row">
  <div class="col-md-12">
    <h2>Konkrakty</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="responsive-table">
        <div class="invoice-v1-header alert alert-success">
          <div class="row">
            <div class="col-md-2">
              <p>Numer</p>
              <p><strong>12/32/2017</strong></p>
            </div>

            <div class="col-md-2">
              <p>Kwota</p>
              <p><strong><%= contract.total_amount %> PLN</strong></p>
            </div>


            <div class="col-md-3">
              <p>Data utworzenia</p>
              <p><strong><%= I18n.l contract.created_at, format: :polish %></strong></p>
            </div>

            <div class="col-md-3">
              <p>Data zakończenia</p>
              <p><strong><%= I18n.l DateTime.now, format: :polish %></strong></p>
            </div>

            <div class="col-md-2">
              <p>Status</p>
              <p><strong><%= 'ZAPŁACONO' %></strong></p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
