<div class="header-panel shadow-z-2 belka-top">
  <div class="container-fluid">
    <div class="row">
      <div class="bzwbk-logo">
        <%= image_tag 'bz-wbk-logo.jpg' %>
      </div>
      <div class="links">
        <ul>
          <li>Twoje konto</li>
          <li class="active">Transakcje</li>
          <li>Ustawienia</li>
        </ul>
      </div>
    </div>
  </div>
</div>
