<!DOCTYPE html>
<html>
  <%= render 'layouts/elements/head' %>

  <body>
    <div class="container invoice invoice-v1">
      <%= render 'layouts/elements/header' %>
      <div class="panel invoice-v1-content">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
